
@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .button {
    width: 100%;
    min-height: 67px;
    display: block;
    border: 1px solid rgba(75, 75, 75, 0.10);
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 0px 40px 0px rgba(75, 75, 75, 0.05);
    backdrop-filter: blur(15px);

    @media screen and (max-width: 375px) and (max-height: 667px) {
      min-height: 60px;
      font-size: 11px;
    }

    > span {
      z-index: 9;
      position: relative;
    }

    overflow: hidden;

    transition: font-size 0.5s ease;
    position: relative;
    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      margin: auto;
      width: 60px;
      height: 60px;
      background: #fff;
      transform: scale(0);
      transition: 0.6s ease all;
    }

    @include m.pc{
      min-height: 75px;

      &:hover {
        font-size: 11px;
        &::before {
          transform: scale(4.2);
        }
      }
    }

    &.is-hover {
      font-size: 11px;
      &::before {
        transform: scale(4.2);
      }
    }
  }
}
