
@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .button {
    width: 100%;
    display: block;

    &:hover {
      .button__check {
        background-color: #4B4B4B;
      }
    }

    // &.is-hover {
    //   font-size: 11px;
    //   &::before {
    //     transform: scale(4.2);
    //   }
    // }

    &__thumb {
      position: relative;
      font-size: 1px;
      line-height: 1;
      width: 140px;
      margin: 0 auto 25px;
      &__1 {

      }
      &__2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }

    &__text {
      text-align: center;
      line-height: 1;
      margin-bottom: 25px;
      &__ja {
        font-size: 13px;
        margin-bottom: 12px;
      }
      &__en {
        font-size: 12px;
        color: #A6A6A6;
        letter-spacing: 0;
        font-feature-settings: "palt";
      }
    }

    &__check {
      border: 1px solid #4B4B4B;
      width: 30px;
      height: 30px;
      margin: auto;

      background-color: #fff;
      transition: background-color 0.3s ease;
    }
  }
}
