@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .button {
    width: 100%;
    display: block;

    &.is-hover {
      font-size: 11px;
      &::before {
        transform: scale(4.2);
      }
    }

    &__thumb {
      position: relative;
      font-size: 1px;
      line-height: 1;
      width: 140px;
      margin: 0 auto 25px;
      @keyframes animation_fade_lineup {
        0%{ opacity: 0; }
        15%{ opacity: 1; } // 1.5s
        60%{ opacity: 1; } // 6.0s
        75%{ opacity: 0; } // 7.5s
        100%{ opacity: 0; } // 10s
      }
      &__1 {
        animation: animation_fade_lineup 5s infinite;
      }
      &__2 {
        animation: animation_fade_lineup 5s infinite;
        animation-delay: 2.5s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &__text {
      text-align: center;
      font-feature-settings: "palt";
      margin-bottom: 25px;
      &__ja {
        font-size: 13px;
        margin-bottom: 12px;
      }
      &__en {
        font-size: 12px;
        color: #A6A6A6;
        letter-spacing: 0;
      }
    }

    &__check {
      border: 1px solid #4B4B4B;
      width: 30px;
      height: 30px;

      background-color: #fff;
      transition: background-color 0.3s ease;
    }

    &--column {
      .button__check {
        margin: auto;
      }
    }

    &--row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .button__text {
        width: 150px;
        margin-bottom: 0;
      }
    }
  }
}
