@use "../variables" as v;
@use "../mixin" as m;

@mixin canvaStyle {
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  translate: 0% 0%;
  overflow: hidden;
  position: relative;
  > canvas {
    width: 100%;
    height: 100%;
  }

  &::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: -1%;
    left: -1%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
  }
}

@include m.css_wrapper {
  .gradations {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 110%;
      height: 110%;

      transition: opacity 1.0s ease;
      opacity: 0;

      > canvas {
        width: 100%;
        height: 100%;
      }
    }

    // 結果
    &.is-gradient-canvas-RELAXING {
      .gradations__item--RELAXING {
        @include canvaStyle;
      }
    }
    &.is-gradient-canvas-NEUTRAL {
      .gradations__item--NEUTRAL {
        @include canvaStyle;
      }
    }
    &.is-gradient-canvas-INSPIRING {
      .gradations__item--INSPIRING {
        @include canvaStyle;
      }
    }

    #gradient-canvas-RELAXING {
      --gradient-color-1: #e5fef5;
      --gradient-color-2: #fbfbe4;
      --gradient-color-3: #f2fff0;
      --gradient-color-4: #e5fef5;
    }
    #gradient-canvas-NEUTRAL {
      --gradient-color-1: #fff6dc;
      --gradient-color-2: #e5e0dc;
      --gradient-color-3: #cbdaf2;
      --gradient-color-4: #fff6dc;
    }
    #gradient-canvas-INSPIRING {
      --gradient-color-1: #ffe8cb;
      --gradient-color-2: #ffdab9;
      --gradient-color-3: #fff5e4;
      --gradient-color-4: #ffe8cb;
    }

  }
}