@use "../variables" as v;
@use "../mixin" as m;

@mixin canvaStyle {
  opacity: 1;
  width: 140%;
  height: auto;
  aspect-ratio: 1 / 1;
  top: 50%;
  left: -20%;
  translate: 0% -50%;
  overflow: hidden;
  position: relative;
  > canvas {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }
  @media screen and (min-width: 600px) {
    width: 110%;
    left: -5%;
  }
  @media screen and (min-width: 769px) {
    width: 90%;
    left: 5%;
  }

  &::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: -1%;
    left: -1%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
  }
}

@include m.css_wrapper {
  .gradations {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 110%;
      height: 110%;

      transition: opacity 1.0s ease;
      opacity: 0;

      > canvas {
        width: 100%;
        height: 100%;
      }
    }

    // トップ
    &.is-gray {
      .gradations__item--gray {
        opacity: 1;
      }
    }

    // 質問
    @keyframes animation_fade_lineup {
      0%{ opacity: 0; }
      15%{ opacity: 1; } // 1.5s
      60%{ opacity: 1; } // 6.0s
      75%{ opacity: 0; } // 7.5s
      100%{ opacity: 0; } // 10s
    }
    &.is-question {
      .gradations__item--RELAXING {
        animation: animation_fade_lineup 15s infinite;
        opacity: 0;
      }
      .gradations__item--NEUTRAL {
        animation: animation_fade_lineup 15s infinite;
        animation-delay: 5s;
        opacity: 0;
      }
      .gradations__item--INSPIRING {
        animation: animation_fade_lineup 15s infinite;
        animation-delay: 10s;
        opacity: 0;
      }
    }

    // 結果
    &.is-gradient-canvas-RELAXING {
      .gradations__item--RELAXING {
        @include canvaStyle;
      }
    }
    &.is-gradient-canvas-NEUTRAL {
      .gradations__item--NEUTRAL {
        @include canvaStyle;
      }
    }
    &.is-gradient-canvas-INSPIRING {
      .gradations__item--INSPIRING {
        @include canvaStyle;
      }
    }

    #gradient-canvas-gray {
      --gradient-color-1: #ebffeb;
      --gradient-color-2: #e7edf9;
      --gradient-color-3: #ffefdb;
      --gradient-color-4: #ffffff;
    }

    #gradient-canvas-RELAXING {
      --gradient-color-1: #e5fef5;
      --gradient-color-2: #fbfbe4;
      --gradient-color-3: #f2fff0;
      --gradient-color-4: #e5fef5;
    }
    #gradient-canvas-NEUTRAL {
      --gradient-color-1: #fff6dc;
      --gradient-color-2: #e5e0dc;
      --gradient-color-3: #cbdaf2;
      --gradient-color-4: #fff6dc;
    }
    #gradient-canvas-INSPIRING {
      --gradient-color-1: #ffe8cb;
      --gradient-color-2: #ffdab9;
      --gradient-color-3: #fff5e4;
      --gradient-color-4: #ffe8cb;
    }

  }
}