@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .logo {
    display: block;
    line-height: 1;

    @include m.pc{
      transition: opacity 0.3s ease !important;
      &:hover {
        opacity: 0.7 !important;
      }
    }

    &__logo {
      width: 115px;
      margin: 0 auto 5px;
      font-size: 0;
      @include m.pc{
        width: 150px;
        margin-bottom: 15px;
      }
    }

    &--question-modal-footer {
      position: absolute;
      bottom: 40px;
      left: 50%;
      translate: -50% 0;
      @include m.pc{
        bottom: 75px;
        .logo__logo {
          width: 175px;
          margin-bottom: 0px;
        }
      }
      @media screen and (min-width: 769px) and (max-height: 700px) {
        bottom: 7vh;
      }
      @media screen and (max-width: 375px) and (max-height: 667px) {
        bottom: 15px;
      }
    }

    &--result {
      z-index: 20;
      @include m.sp{
        margin: 25px auto 0;
      }
      @include m.pc{
        position: fixed;
        top: 50px;
        left: 50px;
        width: 130px;
      }

      .logo__logo {
        margin-bottom: 0;
      }
    }
  }

}