@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .prev-btn-box {
    position: absolute;
    bottom: 170px;
    left: 50%;
    translate: -50% 0;
    pointer-events: none;
    opacity: 0;

    &.active {
      pointer-events: auto;
      opacity: 1;
    }
  }
}