@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .prev-btn {
    display: flex;
    align-items: center;
    line-height: 1;
    letter-spacing: 0.1em;
    > img {
      width: 10px;
      margin-right: 10px;
    }

    padding-bottom: 10px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #4B4B4B;
    }

    @include m.pc{
      img {
        transition: translate 0.3s ease;
        translate: 0 0px;
      }
      &:hover {
        img {
          translate: -3px 0;
        }
      }
    }
  }
}