@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .prev-btn-box {
    position: absolute;
    bottom: 130px;
    left: 50%;
    translate: -50% 0;
    pointer-events: none;
    opacity: 0;
    @include m.pc{
      bottom: 210px;
    }
    @media (min-width: 768px) and (max-height: 800px) {
      bottom: 20vh;
    }
    @media screen and (max-width: 375px) and (max-height: 667px) {
      bottom: 80px;
    }

    &.active {
      pointer-events: auto;
      opacity: 1;
    }
  }
}