@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .question-modal {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 24px;

    @include m.pc{
      // padding: 75px 24px;
      padding: 9vh 24px;
    }

    @media screen and (min-width: 769px) and (max-height: 700px) {
      padding: 5vh 24px;
    }

    &.has-state {
      transition: opacity 0.6s ease;
      opacity: 0;
      pointer-events: none;
      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}