@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .question-item {
    z-index: 15;
    pointer-events: none;
    position: absolute;
    top: 215px;
    left: 0;
    width: 100%;
    transition: opacity 0.3s ease;
    opacity: 0;

    &.active {
      opacity: 1;
      pointer-events: auto;

      &.question-item--loading {
        .loading__ttl__shadow {
          background-position: 0% 100%;
        }
      }
    }
    &--1 {
    }
    &--2 {
    }
    &--3 {
    }
    &--4 {
    }
    &--loading {
      z-index: 20;
      top: 50%;
      translate: 0 -50%;
      opacity: 0;
    }

    &__header {
      text-align: center;
      line-height: 1;
      margin-bottom: 60px;

      &--q3 {
        margin-bottom: 75px;
      }
      &__ttl {
        font-size: 23px;
        letter-spacing: 0.1em;
        text-align: center;
        margin-bottom: 25px;
      }
      &__ttl-en {
        font-size: 17px;
        color: #A6A6A6;
      }
    }

    &__list {
      margin: auto;

      &--2column {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 815px;
        > li {
          width: 205px;
          &:not(:nth-child(3n)) {
            margin-right: 100px;
          }
          &:nth-child(-n+3) {
            margin-bottom: 35px;
          }
        }
      }

      &--row {
        max-width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
        > li {
          width: 205px;
          margin-right: 30px;
          margin-bottom: 0;
          &:last-child {
            margin-right: 0px;
          }
        }
      }

    }
  }
}
