@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .question-modal {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 45px 24px 75px;

    &.has-state {
      transition: opacity 0.6s ease;
      opacity: 0;
      pointer-events: none;
      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}