@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .question-header {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
    font-size: 17px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include m.pc{
      width: 100px;
      height: 100px;
    }

    &.has-state {
      transition: opacity 0.3s ease;
      opacity: 0;
      pointer-events: none;
      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }

    @include m.pc{
      font-size: 30px;
    }

    &__circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &--has-animation {
        transform: rotate(-90deg); /* 上から始まるように */
        transform-origin: 50% 50%;
        stroke-dasharray: 370;
        stroke-dashoffset: 370;
        transition: stroke-dashoffset 0.6s ease;
      }

    }

    &__num {
      position: relative;
      &__item {
        transition: opacity 0.3s ease;
        opacity: 0;
        &:not(:first-child) {
          position: absolute;
          top: 0;
          left: 0;
        }
        &.active {
          opacity: 1;
        }
      }
    }
  }
}