@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .question-item {
    z-index: 15;
    pointer-events: none;
    position: absolute;
    top: 125px;
    left: 0;
    width: 100%;

    transition: opacity 0.3s ease;
    opacity: 0;
    @include m.pc{
      // top: 205px;
      top: 24.5vh;
    }

    @media screen and (min-width: 769px) and (max-height: 700px) {
      top: 27vh;
    }

    &.active {
      opacity: 1;
      pointer-events: auto;

      &.question-item--loading {
        .loading__ttl__shadow {
          background-position: 0% 100%;
        }
      }
    }
    &--1 {
    }
    &--2 {
    }
    &--3 {
    }
    &--4 {
    }
    &--loading {
      z-index: 20;
      top: 50%;
      translate: 0 -50%;
      opacity: 0;
    }

    &__ttl {
      font-size: 17px;
      letter-spacing: 0.1em;
      text-align: center;
      margin-bottom: 60px;
      @include m.pc{
        font-size: 23px;
        margin-bottom: 7.5vh;
      }

      @media screen and (min-width: 769px) and (max-height: 700px) {
        margin-bottom: 4vh;
      }
      @media screen and (max-width: 375px) and (max-height: 667px) {
        margin-bottom: 35px;
      }
    }

    &__list {
      margin: auto;
      > li {
        @include m.sp {
          margin-bottom: 20px;
        }
      }

      &--2column {
        display: flex;
        flex-wrap: wrap;
        @include m.sp{
          justify-content: space-between;
          max-width: 325px;
          > li {
            width: calc(50% - 5px);
          }
        }
        @include m.pc{
          justify-content: center;
          max-width: 675px;
          > li {
            width: 205px;
            margin-bottom: 30px;

            &:not(:nth-child(3n)) {
              margin-right: 30px;
            }
          }
        }
      }
      &--1column {
        @include m.sp{
          max-width: 157px;
        }
      }

      &--row-pc {
        @include m.pc{
          max-width: 1010px;
          padding-top: 10vh;
          display: flex;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: center;
          > li {
            width: 205px;
            margin-right: 30px;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }

    }
  }
}
