@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .recommend {
    display: flex;

    @include m.sp{
      flex-wrap: wrap;
      > * {
        width: 100%;
      }
    }
    @include m.pc{
      align-items: center;
      justify-content: space-between;
      padding: 195px 0;
    }
  }

  .recommend__ttl {
    margin-bottom: 30px;
    @include m.sp{
      text-align: center;
    }
    @include m.pc{
      width: 32%;
    }
    @media screen and (max-width: 375px) and (max-height: 667px) {
      margin-bottom: 20px;
    }
    > p {
      font-size: 15px;
      margin-bottom: 10px;
      line-height: 1;
      @include m.pc{
        margin-bottom: 20px;
      }
    }
    > h2 {
      font-size: 18px;
    }
  }

  .recommend__info-header {
    margin-bottom: 30px;
    @include m.pc{
      margin-bottom: 20px;
    }
    @media screen and (max-width: 375px) and (max-height: 667px) {
      margin-bottom: 15px;
    }
    &__ttl {
      font-size: 13px;
      @include m.sp{
        text-align: center;
      }
      @include m.pc{
        font-size: 16px;
      }
    }
    &__tag-box {
      @include m.sp{
        text-align: center;
      }
    }
    &__tag {
      font-size: 11px;
      line-height: 1;
      border: 0.5px solid #4D4D4D;
      display: inline-block;
      padding: 5px 10px;
      margin-bottom: 20px;
    }
  }

  .recommend__img {
    position: relative;
    @include m.sp{
      margin: 0 25px 50px;
    }
    @include m.pc{
      width: 36%;
    }
    &__item {
      z-index: 0;
      position: relative;
    }
    &__element {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
    }
  }

  .recommend__info {
    @include m.pc{
      width: 30%;
      margin-left: 20px;
    }
    &__lead {
      font-size: 13px;
      line-height: 1.5;
      margin-bottom: 25px;
    }
    &__price {
      font-size: 11px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    &__links {
      @include m.sp{
        margin-bottom: 50px;
      }
      @include m.pc{
        max-width: 150px;
      }
    }
  }
}