@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .recommend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0 85px;
  }

  .recommend__ttl {
    margin-bottom: 50px;
    > p {
      font-size: 15px;
      line-height: 1;
      margin-bottom: 25px;
    }
    > h2 {
      font-size: 18px;
    }
  }

  .recommend__info-header {
    margin-bottom: 20px;
    &__ttl {
      font-size: 16px;
    }
    &__tag {
      font-size: 11px;
      line-height: 1;
      border: 0.5px solid #4D4D4D;
      display: inline-block;
      padding: 5px 10px;
      margin-bottom: 20px;
    }
  }

  .recommend__img {
    position: relative;
    width: 42%;
    &__item {
      z-index: 0;
      position: relative;
    }
    &__element {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
    }
  }

  .recommend__info {
    width: 44%;
    &__lead {
      font-size: 13px;
      letter-spacing: 0;
      line-height: 1.5;
      margin-bottom: 25px;
    }
    &__price {
      font-size: 11px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    &__links {
      max-width: 150px;
    }
  }

  .recommend__ttl-en {
    font-size: 15px;
    line-height: 1;
    color: #A6A6A6;
    margin-bottom: 15px;
  }
  .recommend__lead-en {
    font-size: 12px;
    color: #A6A6A6;
    margin-bottom: 50px;
  }

  .recommend__qr {
    display: flex;
    align-items: center;

    &__img {
      width: 73px;
    }

    &__text {
      width: calc(100% - 93px);
      padding-left: 20px;
      line-height: 1;
      &__ttl {
        font-size: 11px;
        margin-bottom: 10px;
      }
      &__lead {
        font-size: 10px;
        color: #A6A6A6;
      }
    }
  }
}