@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .result-item {
    pointer-events: none;
    display: none;
    .recommend__ttl {
      >p,
      >h2 {
        @include m.animation_blur_before;
      }
      > p {
        transition-delay: 0.2s;
      }
      > h2 {
        transition-delay: 1.5s;
      }
    }
    @include m.sp{
      .recommend__info-header {
        @include m.animation_blur_before;
        transition-delay: 0.5s;
      }
    }
    @include m.pc{
      .recommend__info {
        @include m.animation_blur_before;
        transition-delay: 0.5s;
      }
    }
    .recommend__img {
      > img {
        @include m.animation_blur_before;
        &:nth-child(1) {
          transition-delay: 0.5s;
        }
        &:nth-child(2) {
          transition-delay: 1s;
        }
      }
    }
    &.active {
      pointer-events: auto;
      display: block;
    }
    &.animation {
      .recommend__ttl {
        > p,
        > h2 {
          @include m.animation_blur_after;
        }
      }
      @include m.sp{
        .recommend__info-header {
          @include m.animation_blur_after;
        }
      }
       @include m.pc{
        .recommend__info {
          @include m.animation_blur_after;
        }
      }
      .recommend__img img {
        @include m.animation_blur_after;
      }
    }
  }
}