@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .result {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;

    /* result表示のアニメーション */
    &.has-animation {
      transition: opacity 0.5s ease;
      opacity: 0;
      pointer-events: none;
      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &__container {
      padding: 40px 25px 50px;
      @media screen and (max-width: 375px) and (max-height: 667px) {
        padding: 30px 25px 50px;
      }
       @include m.pc{
        padding: 0 25px 50px;
        max-width: 1100px;
        margin: auto;
      }
    }
  }
}
