@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .share-list {
    display: flex;
    align-items: center;
    
    @include m.sp{
      padding: 40px 10px 0;
      margin-top: 50px;
      border-top: 0.5px solid #4B4B4B;
      justify-content: space-between;
    }

    &__ttl {
      font-size: 15px;
      line-height: 1;
      letter-spacing: 0.1em;
      display: flex;
      @include m.pc{
        font-size: 11px;
        margin-right: 25px;
      }
    }

    &__container {
      display: flex;
      align-items: center;
    }

    &__item {
      display: block;
      line-height: 1;
      font-size: 0;
      width: 40px;
      height: 40px;
      &:not(:last-child) {
        margin-right: 15px;
        @include m.pc{
          margin-right: 25px;
        }
      }

      @include m.pc{
        transition: opacity 0.3s ease;
        opacity: 1;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
