@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .start-modal {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &.has-state {
      transition: opacity 0.3s ease;
      opacity: 0;
      pointer-events: none;
      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }

    // &.has-animation {
    //   &.is-loaded {
    //   }
    // }
  }


}