@use "../variables" as v;
@use "../mixin" as m;

@include m.css_wrapper {
  .toast {
    z-index: 50;
    pointer-events: none;
    position: fixed;
    top: 30px;
    left: 50%;
    font-size: 12px;

    background: #333;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;

    opacity: 0 !important;
    translate: -50% 10px;

    &.active {
      transition: opacity 0.3s ease, translate 0.3s ease;
      opacity: 1 !important;
      translate: -50% 0;
    }

  }
}
