<div class="three-25FC" style="opacity: 0;">

  <div class="test">
    <p>今の得点: <span id="test-point">0</span></p>
  </div>

  <%- include("./_contents/_gradations.ejs") %>

  <%- include("./_contents/_start-modal.ejs") %>

  <%- include("./_contents/_question-modal.ejs") %>

  <%- include("./_contents/_result.ejs") %>

</div>