<ul class="another-links">
  <li><a href="https://www.threecosmetics.com/" target="_blank" rel="noopener noreferrer" class="another-links__item">BRAND SITE</a></li>

  <!-- BRAND SITEのみにする場合は、下記をコメントアウト -->
  <li><a href="https://threecosmetics.com/brand/news/essential-scents-r" target="_blank" rel="noopener noreferrer" class="another-links__item">SPECIAL PAGE</a></li>

</ul>
