<a href="<%- href %>" target="_blank" rel="noopener noreferrer" class="banner">
  <img class="is-sp" src="<%= IMAGE_PATH %>banner_sp.jpg" alt="">
  <img class="is-pc" src="<%= IMAGE_PATH %>banner_pc.jpg" alt="">
</a>