<div class="gradations is-gray">

  <div class="gradations__item gradations__item--gray">
    <canvas id="gradient-canvas-gray" data-transition-in></canvas>
  </div>

  <div class="gradations__item gradations__item--RELAXING">
    <canvas id="gradient-canvas-RELAXING" data-transition-in></canvas>
  </div>

  <div class="gradations__item gradations__item--NEUTRAL">
    <canvas id="gradient-canvas-NEUTRAL" data-transition-in></canvas>
  </div>

  <div class="gradations__item gradations__item--INSPIRING">
    <canvas id="gradient-canvas-INSPIRING" data-transition-in></canvas>
  </div>

</div>