<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- meta -->
<title>2025 AUTUMN MAKEUP COLLECTION THE HARMONY OF DISCORDANCE</title>
<meta name="description" content="">

<!-- ogp -->
<meta property="og:title" content="2025 AUTUMN MAKEUP COLLECTION THE HARMONY OF DISCORDANCE">
<meta property="og:type" content="website">
<meta property="og:description" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:locale" content="ja_JP">
<meta property="og:site_name" content="サイトの名前">
<meta name="twitter:card" content="summary_large_image">
<link rel="canonical" href="サイトのURL">

<!-- three 本番環境のjs・css　ここから -->
<link rel="stylesheet" href="<%= CSS_PATH %>client_reset.css">
<!-- three 本番環境のjs・css　ここまで -->
