<a href="https://www.threecosmetics.com/onlineshop/r/rscents-r/" target="_blank" rel="noopener noreferrer" class="link-btn">
  <span class="link-btn__inner">
    エッセンシャルセンツ R 商品一覧
    <svg class="link-btn__icon" width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.84375 7L0.843749 13.9282L0.84375 0.0717965L9.84375 7Z" fill="white"/>
    </svg>
  </span>
</a>