<div class="loading">
  <div class="loading__container">
    <p class="loading__ttl">
      <span class="loading__ttl__shadow">
        あなたに寄り添う香りを探しています
      </span>
    </p>
    <div class="loading__slider embla">
      <div class="embla__container">
        <div class="embla__slide">
          <img src="<%= IMAGE_PATH %>loading.png" alt="">
        </div>
        <div class="embla__slide">
          <img src="<%= IMAGE_PATH %>loading.png" alt="">
        </div>
        <div class="embla__slide">
          <img src="<%= IMAGE_PATH %>loading.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>