<p class="question-header has-state">

  <svg width="120" height="120" viewBox="0 0 120 120" class="question-header__circle question-header__circle--has-animation">
    <circle
      class="progress-circle"
      cx="60"
      cy="60"
      r="59"
      stroke="#4B4B4B"
      stroke-width="2"
      fill="none"
    />
  </svg>

  <svg width="120" height="120" viewBox="0 0 120 120" class="question-header__circle">
    <circle
      class="progress-circle"
      cx="60"
      cy="60"
      r="59"
      stroke="rgba(75, 75, 75, 0.10)"
      stroke-width="2"
      fill="none"
    />
  </svg>

  <span class="question-header__q">Q</span>
  <span class="question-header__num">
    <span class="question-header__num__item question-header__num__item--1">1</span>
    <span class="question-header__num__item question-header__num__item--2">2</span>
    <span class="question-header__num__item question-header__num__item--3">3</span>
    <span class="question-header__num__item question-header__num__item--4">4</span>
  </span>
</p>