<div class="recommend-layard-btn-box is-pc">
  <button type="button" class="recommend-layard-btn">
    <span class="recommend-layard-btn__text">おすすめのレイヤード</span>
    <img class="recommend-layard-btn__arrow" src="<%= IMAGE_PATH %>icon-arrow-down.svg" alt="">
  </button>
</div>