<div class="start has-animation">

  <div class="start__header">
    <h1 class="start__header__ttl">
      <img class="start__header__ttl__three" src="<%= IMAGE_PATH %>text_three.svg" alt="THREE"><br>
      <span class="start__header__ttl__en">SCENT FINDER</span><br>
      <span class="start__header__ttl__en2">〈 ESSENTIAL SCENTS R 〉</span>
    </h1>
  </div>

  <div class="start__container">
    <h2 class="start__container__ttl">今のマインドにマッチする香りを探しに｡</h2>
    <p class="start__container__lead">FIND YOUR FRAGRANCE</p>

    <%- include("./_start-button.ejs") %>
  </div>

</div>
