<div id="start-modal" class="start-modal has-state has-animation">

  <%- include('./_start.ejs') %>

  <div class="start-modal__bg">
    <img src="<%= IMAGE_PATH %>start_bg.jpg" alt="">
  </div>
</div>
