<div id="result-rain" class="result-item">

  <%- include("./_recommend/_recommend-05-after-the-rain.ejs") %>
  <%- include("./_result-footer.ejs", {
    params: "recommend=0&favo=3",
    ttl: "〈土〉05 AFTER THE RAIN",
  }) %>

</div>