<div id="result-trees" class="result-item">

  <%- include("./_recommend/_recommend-02-days-in-the-trees.ejs") %>
  <%- include("./_result-footer.ejs", {
    params: "recommend=-6&favo=3",
    ttl: "〈樹〉02 DAYS IN THE TREES"
  }) %>

</div>