<div id="result-beret-spicy" class="result-item">

  <%- include("./_recommend/_recommend-03-blackcurrant-beret.ejs") %>
  <%- include("./_goToBtn.ejs") %>
  <%- include("./_layered/_layered-spicy.ejs", {
    lead: "高まる気分に寄り添う、<br>ジューシーでふくよかな香りの重なり。"
  }) %>
  <%- include("./_result-footer.ejs", {
    params: "recommend=4&favo=2",
    ttl: "〈果実〉03 BLACKCURRANT BERET"
  }) %>

</div>