<div id="result-eden-clean" class="result-item">

  <%- include("./_recommend/_recommend-04-spirit-of-eden.ejs") %>
  <%- include("./_goToBtn.ejs") %>
  <%- include("./_layered/_layered-clean.ejs", {
    lead: "すっきりした爽やかさを感じる<br>クリアでまろやかなハーモニー。"
  }) %>
  <%- include("./_result-footer.ejs", {
    params: "recommend=6&favo=3",
    ttl: "〈種〉04 SPIRIT OF EDEN",
  }) %>

</div>