<div id="result-stone" class="result-item">

  <%- include("./_recommend/_recommend-00-written-in-stone.ejs") %>
  <%- include("./_goToBtn.ejs") %>
  <%- include("./_layered/_layered-earthy.ejs", {
    lead: "静かに深い呼吸を誘う、<br>ディープで没入感のある浄化のアロマ。"
  }) %>
  <%- include("./_result-footer.ejs", {
    params: "recommend=2&favo=3",
    ttl: "〈石〉00 WRITTEN IN STONE",
  }) %>

</div>