<div id="result-eden" class="result-item">

  <%- include("./_recommend/_recommend-04-spirit-of-eden.ejs") %>
  <%- include("./_result-footer.ejs", {
    params: "recommend=6&favo=3",
    ttl: "〈種〉04 SPIRIT OF EDEN",
  }) %>

</div>