<div id="result-trees-clean" class="result-item">

  <%- include("./_recommend/_recommend-02-days-in-the-trees.ejs") %>
  <%- include("./_goToBtn.ejs") %>
  <%- include("./_layered/_layered-clean.ejs", {
    lead: "凛とした清々しさと、静寂で<br>クリアな雰囲気に優しく包まれて。"
  }) %>
  <%- include("./_result-footer.ejs", {
    params: "recommend=-6&favo=3",
    ttl: "〈樹〉02 DAYS IN THE TREES"
  }) %>

</div>