<div id="result-stone" class="result-item">

  <%- include("./_recommend/_recommend-00-written-in-stone.ejs") %>
  <%- include("./_result-footer.ejs", {
    params: "recommend=2&favo=3",
    ttl: "〈石〉00 WRITTEN IN STONE",
  }) %>

</div>