<div id="result-flower" class="result-item">
  <%- include("./_recommend/_recommend-01-LIKE_A_FLOWER.ejs") %>
  <%- include("./_goToBtn.ejs") %>
  <%- include("./_layered/_layered-clean.ejs", {
    lead: "すっきりとした控えめな甘さで<br>シーンを問わず纏える香り。"
  }) %>
  <%- include("./_result-footer.ejs", {
    params: "recommend=-4&favo=3",
    ttl: "〈花〉01 LIKE A FLOWER"
  }) %>

</div>