<div class="result-footer">

  <div class="result-footer__restart-btn-box">
    <button type="button" class="restart-btn">
      <span class="restart-btn__text">Try Again</span>
      <img src="<%= IMAGE_PATH %>icon_circle.png" alt="">
    </button>
  </div>

</div>
