$env: 'development' !default;

@if($env == 'development') {
  // product env css
  html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,button,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body{width:100%;height:100%;}ul,ol{list-style:none;}blockquote,q{quotes:none;}blockquote::before,blockquote::after,q::before,q::after{content:"";content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;outline:0;}table{border-collapse:collapse;border-spacing:0;}th{text-align:left;font-weight:normal;}form,input,select,option,textarea,label{margin:0;padding:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:transparent;border:0;border-radius:0;outline:0;}em{font-style:normal;}
  
  *,
  *::before,
  *::after { box-sizing: border-box; }
  :root {
    --color-primary: #595757;
    --color-secondary: #d5d5d5;
    --color-third: #a5a5a5;
  }
  
  html { font-size: 62.5%; }
  body {
    font-family: "akzidenz-grotesk","Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", arial, YuGothic, 游ゴシック, Meiryo, メイリオ, sans-serif;
    font-size: 1.4rem;
    color: #333;
    letter-spacing: .05rem;
    line-height: 2.6rem;
    text-rendering: optimizeLegibility;
  }
  a {
    color: #333;
    text-decoration-skip-ink: none;
    text-decoration: none;
    word-break: break-all;
    transition: .3s;
  }
  h1, h2, h3, h4, h5, h6 { font-weight: normal; }
  img {max-width: 100%;height: auto;}
  sup { font-size: 1rem !important; line-height: 1rem !important; vertical-align: super !important; }
  
  
  @media screen and (min-width: 801px) {
    a[href*="tel:"] { pointer-events: none; }
    a:hover { opacity: .6; }
  }
  
  @media screen and (max-width: 800px) {
    body { line-height: 2.6rem; }
  }
  
  /*----------*/
  
  .d-block, .d-pc {
      display: block;
      line-height: 2rem;
  }
  
  .d-none, .d-sp { display: none; }
  .d-flex { display: flex; }
  .align-items-center { align-items: center; }
  .flex-row-reverse { flex-direction: row-reverse; }
  .flex-wrap { flex-wrap: wrap; }
  .justify-content-around { justify-content: space-around; }
  .justify-content-between { justify-content: space-between; }
  .justify-content-center { justify-content: center; }
  .justify-content-end { justify-content: end; }
  
  .link-fluid {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-size: 0;
    line-height: 0;
    z-index: 10;
  }
  .text-justify { text-align: justify; text-justify: inter-ideograph; }
  .note { font-size: 1.1rem !important; line-height: 2rem !important; }
  
  .fade-in { opacity: 0; }
  .fade-in.tl-y { transform: translateY(20px); }
  .fade-in.is-show { opacity: 1; transform: none; transition: 1.2s; }
  
  
  @media screen and (max-width: 800px) {
    .d-pc { display: none; }
    .d-sp {
        display: block;
        line-height: 1.6rem;
      }
  }
  
  
  
  
  /* Header
  --------------------------------------------------*/
  [class*="forcms_block_addressid_header"] .cms-edit--btn {
      display: block;
      text-align: center;
  }
  .cms-edit--btn {
      display: none;
  }
  .g-banner {
    width: 100%;
    position: relative;
    background: #595757;
    overflow: hidden;
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    z-index: 100;
  }
  .g-banner a {color: #fff;opacity: 1;line-height: 1.5;padding: 1rem 0;display: block;letter-spacing: initial;}
  .g-banner span {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    right: 2%;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    transition: .3s;
  }
  .g-banner span::before,
  .g-banner span::after {
    content: '';
    width: 16px;
    height: 1px;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 7px);
    background: #fff;
  }
  .g-banner span::before { transform: rotate(45deg); }
  .g-banner span::after  { transform: rotate(-45deg); }
  
  @media screen and (max-width: 800px) {
    .g-banner .inner { padding: 0 10%; }
  }
  
  /*----------*/
  
  header {
    width: 100%;
    position: relative;
    background: #fff;
    border-bottom: 1px solid var(--color-secondary);
    transition: .3s ease-in-out;
    z-index: 100;
  }
  header.fixed { position: fixed; top: 0; }
  header.hide { transform: translateY(-100%); }
  .h__items .inner { height: 55px; padding-top: 5px; }
  .buger { display: none; }
  
  .h-logo {
    width: 143px;
    position: absolute;
    left: calc(50% - 71.5px);
    line-height: 0;
    z-index: 1;
  }
  .h__item-list li { margin-left: 15px; line-height: 0; }
  .h__item-list li:nth-child(1) { width: 21px; }
  .h__item-list li:nth-child(2) { width: 20px; }
  .h__item-list li:nth-child(3) { width: 22px; position: relative; }
  .h__item-search {
    width: 17px;
    line-height: 0;
    cursor: pointer;
    transition: .3s;
  }
  .block-headernav--cart-count {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    right: -7px;
    display: none;
    background-color: #eaeaea;
    border-radius: 10px;
    font-size: 10px;
    color: var(--color-primary);
    line-height: 15px;
    text-align: center;
    z-index: 2;
  }
  .block-global-search form {
    width: 70%;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }
  .block-global-search--keyword { width: calc(100% - 40px); padding: 15px; }
  .block-global-search--submit {
    width: 30px;
    padding: 5px;
    line-height: 0;
    cursor: pointer;
    transition: .3s;
  }
  .buger { display: none; }
  
  
  @media screen and (min-width: 801px) {
    .h-search:hover,
    .block-global-search--submit:hover { opacity: .6; }
  }
  
  @media screen and (max-width: 800px) {
    .h__items .inner { height: 50px; padding: 0; }
    .h-logo { width: 110px; left: calc(50% - 55px); }
    .h__item-list li:nth-child(1),
    .h__item-list li:nth-child(2),
    .h__item-list li:nth-child(3) { width: 16px; }
    .h__item-search { display: none; }
  
    .buger {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      cursor: pointer;
      /*transition: .3s cubic-bezier(0.4, 0, 0.2, 1);*/
      z-index: 10;
    }
    .buger.active {
      width: calc(340 / 375 * 100vw);
      /*background-color: #FFFFFF;*/
      background-color: #f5f5f5;
    }
    .buger.active.js-secondary-open {
      width: calc(50 / 375 * 100vw);
      left: auto;
      right:  calc(35 / 375 * 100vw);
      background-color: #f5f5f5;
      transition: all .3s;
    }
    .buger-open::before,
    .buger-open span::before,
    .buger-open span::after {
      content: '';
      width: 18px;
      height: 1px;
      position: absolute;
      left: 50%;
      background: #333;
      transform: translateX(-50%);
      transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .buger-open::before { top: 50%; transition-delay: .625s; }
    .buger-open span::before { top: 20px; transition-delay: .5s; }
    .buger-open span::after { bottom: 19px; transition-delay: .75s; }
    .buger.active .buger-open { /*transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);*/  opacity: 0;}
    .buger.active .buger-open::before,
    .buger.active .buger-open span::before,
    .buger.active .buger-open span::after { width: 0; /*transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);*/ opacity: 0;}
    .buger.active .buger-open::before     { transition-delay: 0.125s; }
    .buger.active .buger-open span::after { transition-delay: 0.25s; }
  
    .buger-close::before,
    .buger-close::after {
      content: '';
      width: 1px;
      height: 0;
      position: absolute;
      top: 17px;
      /*left: 25px;*/
      right: 25px;
      background: #333;
      transform: rotate(45deg);
      transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .buger-close::after { transform: rotate(-45deg); }
    .buger.active .buger-close { transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
    .buger.active .buger-close::before { height: 18px; transition-delay: 0.625s; }
    .buger.active .buger-close::after  { height: 18px; transition-delay: 0.375s; }
    }
  
  /*----------*/
  
  .h__search,
  .h__secondary {
    width: 94%;
    /*max-width: 1100px;*/
    max-width: 1125px;
    position: absolute;
    top: 110px;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    transform: translateX(-50%);
    transition: .3s;
    }
  .h__secondary { top: 110px; }
  .h__search.is-appear, .h__secondary.is-appear { opacity: 1; visibility: visible; }
  .h__search .inner { padding: 50px 0; }
  
  .block-global-search form {
    width: 70%;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    }
  .block-global-search--keyword { width: calc(100% - 40px); padding: 20px; font-size: 1.4rem !important; line-height: 1.4rem !important; }
  .block-global-search--keyword::placeholder { color: #bababa; }
  .block-global-search--submit {
    width: 30px;
    padding: 6px;
    line-height: 0;
    cursor: pointer;
    transition: .3s;
    }
  
  @media screen and (min-width: 801px) and (pointer: fine) {
    .h__item-search:hover,
    .block-global-search--submit:hover { opacity: .6; }
    .h__search,
    .h__secondary {box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);} 
  }
  
  @media screen and (max-width: 800px) {
    .block-global-search form { width: 100%; }
    .h__nav-inner .block-global-search--keyword {
      font-size: 14px!important;
      font-family: "akzidenz-grotesk","Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", arial, YuGothic, 游ゴシック, Meiryo, メイリオ, sans-serif;
      padding: 15px 0;
    }
  }
  
  /*----------*/
  
  .h__sns { display: none; }
  .h__nav-primary { margin: 0 2.5rem; }
  .h__nav-primary a{ padding: 20px 0; display: block; line-height: 1.4rem; }
  
  .h__nav-products .is-slide a,
  .h__nav-about .is-slide a { margin: 0 2.5rem; padding: 20px 0; display: block; line-height: 1.4rem; }
  .h__nav-membership .is-slide a { margin: 0 2.5rem; padding: 20px 0; display: block; line-height: 1.4rem; }
  /*.h__secondary .inner { width: 100%; padding: 25px 40px 5px; }*/
  .h__secondary .inner { width: 100%; padding: 0; max-width: 1125px; }
  .h__secondary-col { width: 25%; padding-right: 2%; font-size: 1rem; line-height: 2.4rem; }
  .h__secondary-col ul { margin-left: 1rem; }
  .h__secondary-col li a { color: var(--color-primary); }
  .h__secondary-container { margin-bottom: 20px; }
  .h__secondary-title a { color: #000; }
  
  @media screen and (min-width: 801px) {
    .h__nav-slide { display: flex;}
    .h__nav-products.is-current > .h__secondary,
    .h__nav-about.is-current > .h__secondary { opacity: 1; visibility: visible; }
    .h__nav-membership.is-current > .h__secondary { opacity: 1; visibility: visible; }
    /*.h__nav-products .h__secondary { opacity: 1; visibility: visible; }*/
    /*.h__nav-about .h__secondary { opacity: 1; visibility: visible; }*/
    /*.h__nav-membership .h__secondary { opacity: 1; visibility: visible; }*/
    .h__nav-products .is-slide a:hover,
    .h__nav-about .is-slide a:hover { opacity: 1; }
    .h__nav-membership .is-slide a:hover { opacity: 1; }
    .h__nav-products:hover .is-slide,
    .h__nav-about:hover .is-slide { opacity: 1.0; position: relative;}
    .h__nav-membership:hover .is-slide { opacity: 1.0; position: relative;}
    .h__nav-products:hover .is-slide::after,
    .h__nav-about:hover .is-slide::after,
    .h__nav-membership:hover .is-slide::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #595757;
    }
    
    .h__nav-about .h__secondary-memu-box,
    .h__nav-membership .h__secondary-memu-box {
      /*display: none;*/
    }
    .h__nav-about .h__secondary-con,
    .h__nav-membership .h__secondary-con {
      display: block;
    }
    .h__nav-about .h__secondary-banner,
    .h__nav-membership .h__secondary-banner {
      display: none;
    }
    .h__nav-about .h__nav-about-banner,
    .h__nav-membership .h__nav-membership-banner {
      display: flex;
      flex-wrap: wrap;
    }
    .h__nav-about .h__nav-about-banner li,
    .h__nav-membership .h__nav-membership-banner li {
      width: calc((100% - 25%) / 4);
       margin: 0 6.25% 50px 0;
    }
    .h__nav-about .h__nav-about-banner li a,
    .h__nav-membership .h__nav-membership-banner li a {
      display: block;
      text-align: center;
    }
    .h__nav-about .h__nav-about-banner li a span,
    .h__nav-membership .h__nav-membership-banner li a span {
      /*font-size: 11px;*/
      font-size: 1.1rem;
      line-height: 1.36;
      display: block;
    }
    .h__nav-about .h__nav-about-banner li a.ico_blank span::after,
    .h__nav-membership .h__nav-membership-banner li a.ico_blank span::after {
      content: "";
      width: 10px;
      height: 10px;
      background-image: url("../../img/usr/common/footer/icn_app_link.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 10px 10px;
      display: inline-block;
      margin-left: 5px;
    }
    .h__nav-about .h__secondary-con p,
    .h__nav-membership .h__secondary-con p {
      padding-left: 18px;
      position: relative;
    }
    .h__nav-about .h__secondary-con p a,
    .h__nav-membership .h__secondary-con p a {
      /*font-size: 12px;*/
      font-size: 1.2rem;
      line-height: 1.25;
      display: block;	
    }
    .h__nav-about .h__secondary-con p::after,
    .h__nav-membership .h__secondary-con p::after {
      content: "";
      position: absolute;
      left: 2px;
      top: 50%;
      width: 5px;
      height: 5px;
      margin-top: -3px;
      border-right: 1px solid #595757;
      border-bottom: 1px solid #595757;
      transform: rotate(-45deg);
    }
      
    .h__secondary-body {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
    }
    ul.h__secondary-menu {
      width: 20%;
      height: 270px;
      /*height: 465px;*/
      padding: 30px 0 26px 2.2%;
      background-color: #F5F5F5;
    }
    .h__nav-products ul.h__secondary-menu {
      /*height: 465px;*/
      height: 505px;
    }
    .h__nav-about ul.h__secondary-menu,
    .h__nav-membership ul.h__secondary-menu {
        height: 300px;
    }
    ul.h__secondary-menu > li > div > a,
    .h__nav-about .h__secondary-tree li a,
    .h__nav-membership .h__secondary-tree li a {
      /*font-size: 12px;*/
      font-size: 1.2rem;
      line-height: 1.25;
      padding: 8px 0 8px 18px;
      display: block;
    }
    ul.h__secondary-menu > li > div > .is-acc {
      display: none;
    }
    ul.h__secondary-menu > li.is-active > div > a,
    .h__nav-about .h__secondary-tree li.is-active a,
    .h__nav-membership .h__secondary-tree li.is-active a {
      color: #595757;
      opacity: 1;
      position: relative;
    }
    ul.h__secondary-menu > li.is-active > div > a::after,
    .h__nav-about .h__secondary-tree li.is-active a::after,
    .h__nav-membership .h__secondary-tree li.is-active a::after {
      content: "";
      position: absolute;
      left: 2px;
      top: 50%;
      width: 5px;
      height: 5px;
      margin-top: -3px;
      border-right: 1px solid #595757;
      border-bottom: 1px solid #595757;
      transform: rotate(-45deg);
    }
  /*	ul.h__secondary-menu > li.h__secondary-menu1 > div > a {
      background-color: #bbb;
    }
    ul.h__secondary-menu:hover > li.h__secondary-menu1 > div > a {
      background-color: inherit;
    }
    ul.h__secondary-menu:hover > li.h__secondary-menu1:hover > div > a {
      background-color: #aaa;
    }
    ul.h__secondary-menu > li.h__secondary-menu1 .h__secondary-con {
      display: block;
    }*/
    ul.h__secondary-menu > li.h__secondary-menu_others {
      display: none;
    }
    .h__nav-products .h__secondary-con,
    .h__nav-about .h__secondary-con,
    .h__nav-membership .h__secondary-con {
      width: 80%;
      height: 100%;
      padding: 50px 4.4% 0;
      background-color: #FFFFFF;
      position: absolute;
      left: 20%;
      top: 0;
      display: none;
    }
    ul.h__secondary-menu li.is-active .h__secondary-con {
      display: block;
    }
    .h__secondary-con > .h__secondary-category-title,
    .h__secondary-con > .h__secondary-btn-back {
      display: none;
    }
    .h__nav-products .h__secondary-con > .h__secondary-tree {
      float: left;
      display: flex;
      flex-wrap: wrap;
      max-width: 500px;
      width: 62%;
    }
    .h__secondary-con > .h__secondary-tree a,
    .h__secondary-standard > .h__secondary-tree a,
    .h__nav-products .h__secondary-con li.h__secondary-tree--all-item a {
      /*font-size: 12px;*/
      font-size: 1.2rem;
      line-height: 1.25;
      display: block;
    }
    .h__secondary-con > .h__secondary-tree a + .is-acc,
    .h__secondary-con > .h__secondary-tree .is-txt + .is-acc {
      display: none;
    }
    .h__nav-products .h__secondary-con > .h__secondary-tree .js-acc-btn-layer .is-txt {
      font-size: 1.2rem;
    }
    .h__nav-products .h__secondary-con > .h__secondary-tree.is-layer1 > li {
      width: 50%;
    }
    .h__nav-products .h__secondary-con > .h__secondary-tree.is-layer1 > li.h__secondary-tree--all-item {
      width: 100%;
      margin-top: 50px;
    }
    .h__nav-products .h__secondary-con > .h__secondary-tree.is-layer1 > li.h__secondary-tree--all-item a {
      padding-left: 18px;
      position: relative;
    }
    .h__nav-products .h__secondary-con > .h__secondary-tree.is-layer1 > li.h__secondary-tree--all-item a::after {
      content: "";
      position: absolute;
      left: 2px;
      top: 50%;
      width: 5px;
      height: 5px;
      margin-top: -3px;
      border-right: 1px solid #595757;
      border-bottom: 1px solid #595757;
      transform: rotate(-45deg);
    }
    .h__secondary-con .h__secondary-tree.is-layer2 {
      border-left: 1px solid #BEBEBE;
      padding-left: 10%;
      margin-top: 16px;
    }
    .h__secondary-con .h__secondary-tree.is-layer2 li {
      margin-top: 16px;
    }
    .h__secondary-con .h__secondary-tree.is-layer2 li:first-child {
      margin-top: 0;
    }
    .h__secondary-con .h__secondary-banner {
      float: right;
      width: 38%;
      max-width: 300px;
    }
    .h__secondary-con .h__secondary-banner li {
      margin-top: 20px;
    }
    .h__secondary-con .h__secondary-banner li:first-child {
      margin-top: 0;
    }
    .h__secondary-con .h__secondary-banner li a {
      display: block;
      text-align: center;
      line-height: 1.0;
    }
    .h__secondary-con .h__secondary-banner li img {
      vertical-align: top;
    }
    .h__secondary-con .h__secondary-banner li a span {
      /*font-size: 11px;*/
      font-size: 1.1rem;
      line-height: 1.27;
      margin-top: 10px;
      display: block;
    }
    /*----------*/
    .h__banner,.t__banner { display: none; }
  }
  
  @media screen and (max-width: 800px) {
    .h__nav-primary, .h__nav-products,
    .h__nav-primary, .h__nav-about { margin: 0; /*display: block;*/}
    .h__nav-primary, .h__nav-membership { margin: 0; /*display: block;*/}
    .h__nav-products,
    .h__nav-about {padding: 15px calc(20 / 375 * 100vw);}
    .h__nav-membership {padding: 15px calc(20 / 375 * 100vw);}
    .h__nav {
    width: 100%;
    position: absolute;
    /*top: 50px;*/
    top: 0;
    left: -100%;
    opacity: 0;
    visibility: hidden;
    /*background: #fff;*/
      background-color: rgba(0,0,0,0.15);
    border-top: 1px solid var(--color-secondary);
    transition: .4s;
  }
    .h__nav.is-appear { opacity: 1; visibility: visible; }
    .h__nav-inner {
      /*width: 100%;*/
      width: calc(340 / 375 * 100vw);
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 50px;
      display: block;
      overflow-y: auto;
    background: #fff;
      z-index: 2;
    }
    .h__nav-inner.js-open {
      overflow: hidden;
    } 
    .h__search,
    .h__secondary {
      width: 100%;
    position: relative;
      top: auto !important;
      left: auto;
      opacity: 1;
      visibility: visible;
      transform: none;
  }
      .h__secondary {
        position: static;
    }
    .h__search, .h__nav.is-appear { opacity: 1; visibility: visible; left: 0;}
    /*.h__search .inner { padding: 20px 0 30px; }*/
    .h__search .inner { padding: 0; width: 88%;}
    .h__search .inner .block-global-search form {
      border: 0;
      border-bottom: 1px solid #595757;
      border-radius: 0;
    }
  
    .h__secondary .inner { padding: 0; display: block; }
    .h__secondary-col { width: 100%; padding: 0; font-size: 1.4rem; line-height: 2.2rem; }
    .h__secondary-col ul { width: 90%; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-between; }
    .h__secondary-col li { width: 48%; border-bottom: 1px solid #bebebe; display: flex; align-items: center; }
    .h__secondary-col li:last-child,
    .h__secondary-col li:nth-last-child(2) { border-bottom: none; }
    .h__secondary-col li a { width: 100%; padding: 10px 15px 10px 0; position: relative; display: block; font-size: 14px!important; }
    .h__secondary-col li a::after,
    .h__nav-primary-block li a::after {
  /*  content: '';
      width: 8px;
      height: 8px;
    position: absolute;
      top: calc(50% - 4px);
      right: 5px;
      border-top: 1px solid var(--color-primary);
      border-right: 1px solid var(--color-primary);
    transform: rotate(45deg);*/
  }
    .h__secondary-col ul.single li { width: 100%; }
    .h__secondary-col ul.single li:nth-last-child(2) { border-bottom: 1px solid #bebebe; }
    .h__secondary-container { margin: 0; }
    /*.h__nav-products .is-slide { display: none; }*/
    /*.h__nav-about .is-slide { display: none; }*/
    /*.h__nav-membership .is-slide { display: none; }*/
    .h__nav-products .is-slide a, .h__nav-about .is-slide a, .h__nav-membership .is-slide a {margin: 0; padding: 17px 0;}
    .h__secondary-title { background: #eaeaea; }
    .h__secondary-title a { padding: 2.5px 5%; display: block; font-size: 1.2rem; line-height: 2rem; }
  
    .h__nav-primary-block {
      margin: 12px calc(20 / 375 * 100vw) 10px;
      padding-top: 9px;
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid #595757;
    }
    .h__nav-primary-block li {
      width: 50%;
    }
    .h__nav-primary-block li a { padding: 10px 0; display: block; font-size: 14px;}
  
    .h__sns {margin: 40px 0 160px;display: flex;justify-content: center;}
    .h__sns li { margin: 0 12px; }
    .h__sns li img { width: auto; height: 26px; vertical-align: top;}
    
    .h__nav .h__banner {
      margin: 0 calc(20 / 375 * 100vw) 60px;
    }
    .h__nav .t__banner {
      margin: 0 calc(20 / 375 * 100vw) 20px;
    }
    .h__secondary-banner {
      padding: calc(30 / 375 * 100vw) 0 calc(100 / 375 * 100vw);
      border-top: 1px solid #595757;
    }
    .h__nav .h__banner li,
    .h__secondary-banner li {
      margin-bottom: 15px;
    }
    .h__nav .h__banner li a,
    .h__secondary-banner li a {
      display: block;
      text-align: center;
      line-height: 1.0;
    }
    .h__nav .h__banner li a span,
    .h__secondary-banner li a span {
      font-size: 12px;
      line-height: 1.2;
      margin-top: 10px;
      display: block;
    }
    .h__nav .t__banner li {
      margin-top: 15px;
    }
    .h__nav .t__banner li a {
      display: block;
      text-align: center;
      line-height: 1.0;
    }
    .h__nav .t__banner li a span {
      font-size: 12px;
      line-height: 1.2;
      display: block;
    }	
    .h__secondary-body {
      width: 100%;
    }
    .h__secondary-standard {
      display: none;
    }
    .h__secondary-menu {
      width: 100%;
      /*padding: 15px calc(20 / 375 * 100vw);*/
    }
    ul.h__secondary-menu > li {
    }
    .h__nav-about .is-slide,
    .h__nav-membership .is-slide {
      border-top: 1px solid #595757;
      padding-top: 7px;
    }
    ul.h__secondary-menu > li > div.h__secondary-memu-box {
      /*display: flex;*/
      /*justify-content: space-between;*/
      display: block;
      position: relative;
    }
    ul.h__secondary-menu > li > div > a {
      font-size: 14px;
      line-height: 1.25;
      padding: 17px 0;
      /*flex: 1;*/
      display: block;
      width: 100%;
      pointer-events: none;
    }
    ul.h__secondary-menu > li > div > span.is-acc {
      /*width: 50px;*/
      width: 100%;
      height: 50px;
      cursor: pointer;
      font-size: 0;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
    }
    ul.h__secondary-menu > li > div > span.is-acc::after {
      content: "";
      position: absolute;
      right: 2px;
      top: 50%;
      width: 5px;
      height: 5px;
      margin-top: -2px;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      transform: rotate(-45deg);
    }
    ul.h__secondary-menu > li > div.h__secondary-con {
      /*display: none;*/
      width: calc(340 / 375 * 100vw);
      height: 100vh;
      position: fixed;
      left: -100%;
      /*top: 50px;*/
      top: 0;
      padding: 50px calc(20 / 375 * 100vw) 35px;
      z-index: 10;
      opacity: 0;
      overflow-y: auto;
      transition: .4s;
      background-color: #FFFFFF;
    }
    ul.h__secondary-menu > li > div.h__secondary-con .h__secondary-btn-back {
      /*font-size: 10px;*/
      font-size: 14px;
      line-height: 1.5;
      padding: 15px 15px 14px 30px;
      /*margin-left: 30px;*/
      position: absolute;
      /*right: calc(35 / 375 * 100vw);*/
      left: 0;
      top: 0;
      width: calc(290 / 375 * 100vw);
      z-index: 50;
      background-color: #f5f5f5;
    }
    ul.h__secondary-menu > li > div.h__secondary-con .h__secondary-btn-back::after {
      content: "";
      position: absolute;
      left: 20px;
      top: 50%;
      width: 5px;
      height: 5px;
      margin-top: -3px;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      transform: rotate(135deg);
    }
    ul.h__secondary-menu > li > div.h__secondary-con .h__secondary-category-title {
      /*font-size: 16px;*/
      font-size: 15px;
      line-height: 1.5;
      /*width: 100%;*/
      padding: 0 0 10px;
      margin: 15px 0 0;
      border-bottom: 1px solid #BEBEBE;
      /*position: absolute;*/
      /*left: 0;*/
      /*top: 55px;*/
      /*padding: 7px 20px 5px;*/
      /*background-color: #f5f5f5;*/
    }
    ul.h__secondary-tree li a,
    ul.h__secondary-tree li span.is-txt{
      font-size: 14px;
      line-height: 1.23;
      padding: 17px 0;
      display: block;
    }
    ul.h__secondary-tree li.h__secondary-tree--all-item {
      margin-top: 25px;
    }
    ul.h__secondary-tree li.h__secondary-tree--all-item a {
      position: relative;
      padding-left: 18px;
    }
    ul.h__secondary-tree li.h__secondary-tree--all-item a::after {
      content: "";
      position: absolute;
      left: 2px;
      top: 50%;
      width: 5px;
      height: 5px;
      margin-top: -3px;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      transform: rotate(-45deg);
    }
    ul.h__secondary-tree li.is-child > div {
      display: flex;
      justify-content: space-between;
    }
    ul.h__secondary-tree li.is-child > div a,
    ul.h__secondary-tree li.is-child > div span.is-txt {
      flex: 1
    }
    ul.h__secondary-tree li.is-child > div .is-acc {
      width: 50px;
      height: 50px;
      cursor: pointer;
      font-size: 0;
      position: relative;
      background-color: #FFFFFF;
    }
    ul.h__secondary-tree li.is-child > div .is-acc::before,
    ul.h__secondary-tree li.is-child > div .is-acc::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 10px;
      height: 1px;
      margin-left: -5px;
      transition: all .3s;
      background-color: #333333;
    }
    ul.h__secondary-tree li.is-child > div .is-acc::after {
      transform: rotate(-90deg);
    }
    ul.h__secondary-tree li.is-child > div .is-acc.js-close::after {
      transform: rotate(0);
    }
    ul.h__secondary-tree.is-layer1 {
      /*padding-bottom: 15px;*/
      margin-bottom: 30px;
      margin-bottom: 30px;
      /*margin-top: 50px;*/
      /*border-bottom: 1px solid #595757;*/
    }
    ul.h__secondary-tree.is-layer2 {
      margin: 0 8px;
      /* border-left: 1px solid #595757; */
      display: none;
    }
    ul.h__secondary-tree.is-layer2 li a {
      padding-left: 8px;
    }
    
    ul.h__nav-about-banner,
    ul.h__nav-membership-banner {
      margin-top: 30px;
      padding-bottom: 60px;
    }
    ul.h__nav-about-banner li,
    ul.h__nav-membership-banner li {
      margin-bottom: 20px;
    }
    ul.h__nav-about-banner li a,
    ul.h__nav-membership-banner li a {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    ul.h__nav-about-banner li a img,
    ul.h__nav-membership-banner li a img {
      width: calc(130 / 375 * 100vw);
      margin-right: calc(10 / 375 * 100vw);
    }
    ul.h__nav-about-banner li a .is-txt,
    ul.h__nav-membership-banner li a .is-txt {
      font-size: 13px;
      line-height: 1.0;
      display: block;
      flex: 1;
    }
    ul.h__nav-about-banner li a.ico_blank .is-txt::after,
    ul.h__nav-membership-banner li a.ico_blank .is-txt::after {
      content: "";
      width: 10px;
      height: 10px;
      background-image: url("../../img/usr/common/footer/icn_app_link.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 10px 10px;
      display: inline-block;
      margin-left: 5px;
    }
    ul.h__secondary-menu > li p {
      padding-left: 18px;
      position: relative;    
      margin-bottom: 35px;
    }
    ul.h__secondary-menu > li p a {
      font-size: 14px;
      line-height: 1.23;
      padding: 17px 0;
      display: block;
    }
    ul.h__secondary-menu > li p a::after {
      content: "";
      position: absolute;
      left: 2px;
      top: 50%;
      width: 5px;
      height: 5px;
      margin-top: -3px;
      border-right: 1px solid #595757;
      border-bottom: 1px solid #595757;
      transform: rotate(-45deg);
    }
  }
  
  /*----------*/
  
  /* メンバーエリア
  --------------------------------------------------*/
  
  .f__member_link { width: 100%; margin-top: 40px; }
  .f__member_link a {
    padding-left: 16px;
    position: relative;
  }
  .f__member_link a::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    top: calc(50% - 3px);
    left: 0;
    border-top: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
    transform: rotate(45deg);
  }
  
  /* Footer
  --------------------------------------------------*/
  footer {
    width: 100%;
    padding: 30px 0 60px;
    background: #fff;
    font-size: 1.2rem;
    color: var(--color-primary);
    line-height: 2.2rem;
  }
  footer .inner {margin-bottom: 145px;padding-top: 120px;max-width: 1100px!important;}
  footer .en { font-size: 1.3rem; }
  footer a { display: inline-block; }
  footer .inner .container {
    width: auto!important;
  }
  .f__nav ul { line-height: 2.2rem; }
  .f__nav { width: 80%; }
  .f__nav ul { width: 25%; }
  .f__nav li { margin-bottom: 13px; }
  
  
  /* sns */
  .f__sns { position: absolute; top: 60px; right: 0; }
  .f__sns li { margin-left: 40px; }
  .f__sns img { width: auto; height: 22px; }
  
  
  /* app */
  .f__official-app { width: 20%; }
  .f__official-app h4 span {
    margin-bottom: 13px;
    padding-left: 47px;
    display: inline-block;
    background: url(../../img/usr/common/footer/icn_official_app.png) left center/37px 37px no-repeat;
    line-height: 37px;
    white-space: nowrap;
  }
  .f__official-app li { margin-bottom: 5px; }
  .f__official-app li a {
    padding-right: 15px;
    background: url(../../img/usr/common/footer/icn_app_link.png) right 6px/10px 10px no-repeat;
  }
  
  
  /* lang */
  .f__lang {
    width: 20%;
    position: absolute;
    right: 0;
    bottom: 15px;
  }
  .f__lang li:first-child::after {
    content: '';
    width: 7px;
    height: 11px;
    margin: -2px 20px 0 15px;
    display:inline-block;
    background: url(../../img/usr/common/icn_hyphen.png) center/7px 11px no-repeat;
    vertical-align: middle;
  }
  .f__lang li a { color: #909090; white-space: nowrap; }
  .f__lang li a.active { color: var(--color-primary); }
  
  
  /* bottom */
  .f__bottom .inner { margin-bottom: 0; padding-top: 85px; }
  .f__bottom ul { position: absolute; top: 0; left: 0; }
  .f__bottom li { margin-right: 25px; }
  .f__bottom_copyright {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.1rem !important;
    color: #868686;
  }
  .f__bottom_logo { width: 24px; margin: 0 auto; }
  
  @media screen and (max-width: 800px) {
    footer { padding: 10px 0 30px; }
    footer .inner { margin-bottom: 40px; padding-top: 30px; }
    footer .container, .f__nav { display: block; }
    .f__nav, .f__nav ul { width: 100%; }
    .f__nav { margin-bottom: 50px; border-top: 1px solid var(--color-secondary); }
    .f__nav li { margin-bottom: 0; position: relative; border-bottom: 1px solid var(--color-secondary); }
    .f__nav li a { padding: 20px 5px 15px; line-height: 1.2rem;display: block; }
    .f__nav li::after {
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      top: calc(50% - 3px);
      right: 10px;
      border-top: 1px solid var(--color-secondary);
      border-right: 1px solid var(--color-secondary);
    }
    .f__nav li::after { transform: rotate(45deg); }
  
    .f__sns { margin-bottom: 30px; position: static; justify-content: center; }
    .f__sns li { margin: 0 2rem; }
  
    .f__official-app { width: 100%; margin-bottom: 20px; }
    .f__official-app h4 { text-align: center; }
    .f__official-app ul { display: flex; justify-content: center; }
    .f__official-app li:first-child::after {
      content: '';
      width: 7px;
      height: 11px;
      padding-left: 40px;
      background: url(../../img/usr/common/icn_hyphen.png) center/7px 11px no-repeat;
      display: inline-block;
    }
    .f__lang { width: 100%; position: static; justify-content: center; }
    .f__bottom .inner { padding-top: 0; }
    .f__bottom ul { width: 100%; margin-bottom: 30px; position: static; }
    .f__bottom li { width: 50%; margin: 0; text-align: center; }
    .f__bottom li a { padding: 10px; }
    .f__bottom_copyright { position: static; text-align: center; }
    .f__bottom_logo { margin: 0 auto 30px; }
  }
  
  /* ----ページトップに戻る---- */
  .block-page-top {
    position: fixed;
    top: auto;
    bottom: 100px;
    right: 26px;
    display: none;
    z-index: 50;
  }
  
  .block-page-top a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
  }
  @media screen and (max-width: 800px) {
    .block-page-top {
      bottom: 26px;
      right: 26px;
    }
  }
  
  
  /* Main
  --------------------------------------------------*/
  article { margin-bottom: 100px; position: relative; }
  .wrapper { width: 100%; position: relative; }
  .inner {
    width: 94%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
  }
  .title {
    margin-bottom: 50px;
    font-size: 2rem;
    line-height: 2rem;
  }
  .cnt__left  { width: 200px; font-size: 1.2rem; line-height: 2rem; }
  .cnt__right { width: 78%; max-width: 860px; margin-left: 5%; }
  
  .bg__wrap {
  /*  width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background: rgba(0,0,0,.4);
    transition: .3s;
    z-index: 99; */
  }
  .bg__wrap.is-appear {opacity: 1;visibility: visible;}
  .bg__nav {
    width: 100%;
    height: 0;
    position: absolute;
    top: 110px;
    left: 0;
    background: #fff;
    transition: .3s ease-out;
    z-index: 100;
  }
  
  .fade-in { opacity: 0; }
  .fade-in.is-show { opacity: 1; transition: opacity 2s; }
  
  
  @media screen and (max-width: 1080px) {
    .cnt__left, .cnt__right { width: 100%; max-width: 100%; margin: 0; flex: auto; }
  }
  
  @media screen and (max-width: 800px) {
    .bg__wrap { display: none; }
    article { margin-bottom: 60px; }
    .inner { width: 90%; }
    .title { margin-bottom: 30px; font-size: 1.8rem; line-height: 1.8rem; }
  }
  
  /*----------*/
  
  .breadcrumb {
    margin-bottom: 40px;
    padding: 20px 0 12px;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .breadcrumb li::after {
    content: '/';
    padding: 0 5px;
    color: #909090;
  }
  .breadcrumb li:last-child::after { display: none; }
  .breadcrumb li a { color: #909090; }
  .breadcrumb li:last-child,
  .breadcrumb li:last-child a { color: #333; }
  @media screen and (min-width: 801px) {
    .breadcrumb li a:hover { opacity: 1; text-decoration: underline; }
    .feature-detail .share.foot .snsBtn {
        position: static;
    }
  }
  
  /* @media screen and (max-width: 800px) {
    .breadcrumb {margin-bottom: 20px;}
    .news-detail .breadcrumb,.feature-detail .breadcrumb {margin-bottom: 30px;}
    .news-detail .breadcrumb .d-flex, .feature-detail .breadcrumb .d-flex, .dictionary-detail .breadcrumb .d-flex{overflow-x: scroll;white-space: nowrap;}
  } */
  
  @media screen and (max-width: 800px) {
    .breadcrumb {margin-bottom: 30px;}
    .breadcrumb .d-flex{overflow-x: scroll;white-space: nowrap;}
  }
  
  /*----------*/
  
  .navipage_ { margin-top: 50px; font-size: 1.2rem; color: var(--color-third); line-height: 1.2rem; }
  .navipage_ a,.navipage_ .navipage_now_ { padding: 15px; display: inline-block; }
  .navipage_ .navipage_now { padding: 15px; border-bottom: 1px solid var(--color-primary); }
  .navipage_ .navipage_reverse_ a, .navipage_ .navipage_forward_ a { font-size: 0; }
  .navipage_ .navipage_reverse_ a::before,
  .navipage_ .navipage_reverse_ a::before,
  .navipage_ .navipage_next_ a::before,
  .navipage_ .navipage_last_ a::before { font-size: 1.2rem; }
  .navipage_ .navipage_first_ a::before { content: '<<'; }
  .navipage_ .navipage_prev_ a::before { content: '<'; }
  .navipage_ .navipage_next_ a::before { content: '>'; }
  .navipage_ .navipage_last_ a::before { content: '>>'; }
  
  
  @media screen and (max-width: 800px) {
    .navipage_ { margin-top: 10px; }
    .list_pagenation { margin-top: 20px; }
    .navipage_ a,.navipage_ .navipage_now_ { padding: 10px; }
  }
  
  /*----------*/
  
  .share:not(.foot) {
    position: absolute;
    right: 0;
    top: 20px;
    display: inline-block;
    cursor: pointer;
    z-index: 10;
    margin-top: -5px;
  }
  .share.foot {
      position: relative;
      display: inline-block;
      cursor: pointer;
      margin-bottom: 65px;
  }
  .shareBtn {
    padding: 8px 20px 8px 30px;
    position: relative;
    background: var(--color-primary);
    font-size: 1.1rem;
    color: #fff;
    line-height: 1.1rem;
  }
  .shareBtn::before,
  .share.close .shareBtn::before {
    content: '+';
    position: absolute;
    top: calc(50% - 7px);
    left: 12px;
    display: block;
    font-size: .9rem;
    color: #fff;
    z-index: 1;
  }
  .snsBtn {
    padding: 12px 5px;
    position: absolute;
    right: 0;
    bottom: -40px;
    opacity: 0;
    visibility: hidden;
    line-height: 0;
    white-space: nowrap;
    transition: .4s;
    z-index: 1;
    background-color: rgba(255,255,255,0.8);
  }
  .snsBtn a:not(:first-child) { margin: 0 0 0 1.4rem; }
  .snsBtn img { width: auto; height: 16px; }
  .share.foot .snsBtn { left: 0; }
  .share.foot .snsBtn a { margin: 0 1.4rem 0 0; }
  
  
  @media screen and (min-width: 801px) {
    .share:hover .shareBtn::before { content: '-'; }
    .share:hover .snsBtn {display: block;opacity: 1;visibility: visible;z-index: 1;}
  }
  
  @media screen and (max-width: 800px) {
    .share {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0;
    }
    .share:not(.foot) {
        top: 30px;
    }
    .breadcrumb .inner {
        line-height: 1.5;
        flex-wrap: wrap;
    }
    .share.open .shareBtn::before { content: '-'; }
    .share.open .snsBtn {display: block;opacity: 1;visibility: visible;background-color: rgba(255,255,255,0.7);}
  }
  
  /*----------*/
  
  .brand__btn-modal {
    width: 100%;
    height: 80px;
    padding: 15px 5%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    background: #fff;
    border-top: 1px solid var(--color-secondary);
    z-index: 10;
  }
  .brand__btn-modal p {
    width: 100%;
    height: 50px;
    background: var(--color-primary) url(../../img/usr/common/icn_search_w.png) 30px center/30px 30px no-repeat;
    font-size: 1.2rem;
    color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }
  .brand__modal-close {
    width: 46px;
    height: 46px;
    display: none;
    position: fixed;
    top: 4%;
    right: 4%;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    z-index: 9999;
  }
  .brand__modal-close::before,
  .brand__modal-close::after {
    content: '';
    width: 14px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: calc(50% - 7px);
    background: var(--color-third);
  }
  .brand__modal-close::before { transform: rotate(45deg); }
  .brand__modal-close::after  { transform: rotate(-45deg); }
  
  
  @media screen and (max-width: 1080px) {
    .brand__btn-modal { display: block; }
    .brand__modal {
      width: 94%;
      height: 94%;
      position: fixed;
      top: 3%;
      left: 3%;
      display: none;
      background: #fff;
      z-index: 9999;
    }
    .brand__modal.is-appear { display: block; }
    .brand__modal__wrap {
      width: 90%;
      height: calc(90% - 70px);
      position: absolute;
      top: 60px;
      left: 5%;
      overflow: auto;
    }
  }
  
  /*----------*/
  
  .back-to-index a {
    position: relative;
    padding-left: 18px;
    font-size: 1.1rem;
  }
  .back-to-index a::before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    left: 0;
    border-top: 1px solid var(--color-primary);
    border-left: 1px solid var(--color-primary);
  }
  .back-to-index a::before { top: calc(50% - 2.8px); transform: rotate(-45deg); }
  
  /* Privilege
  --------------------------------------------------*/
  .privilege { padding: 60px 0; background: #eaeaea; }
  .privilege li { width: 25%; text-align: center; }
  .privilege dt { line-height: 0; }
  .privilege dt img { width: 80px; }
  .privilege dd { padding-top: 30px; line-height: 2.4rem; }
  .privilege-title { margin-bottom: 20px; font-size: 1.8rem; line-height: 1.8rem; }
  
  
  @media screen and (max-width: 1080px) {
    .privilege { padding: 60px 0 10px; }
    .privilege li { width: 50%; margin-bottom: 50px; }
  }
  
  @media screen and (max-width: 800px) {
    .privilege { padding: 20px 0; }
    .privilege li { width: 100%; margin-bottom: 0; padding: 15px 0 10px; border-bottom: 1px solid #ccc; text-align: left; }
    .privilege li:last-child { border-bottom: none; }
    .privilege dl { display: flex; align-items: center; }
    .privilege dt { flex: 0 0 auto; }
    .privilege dd { margin-left: 2rem; padding: 0; font-size: 1.2rem; line-height: 2rem; }
    .privilege-title { margin-bottom: 5px; font-size: 1.4rem; line-height: 1.4rem; }
  }
  
  /* LP用フッター
  --------------------------------------------------*/
  .foot_contents { text-align: center; padding: 100px 0 20px; }
  .foot_contents .page_to_top { font-size: 16px; letter-spacing: .2em; margin: 0 0 50px; }
  .foot_contents .sns_share { margin: 0 0 45px; }
  .foot_contents .sns_share p { font-size: 11px; letter-spacing: .1em; margin: 0 0 15px; }
  .foot_contents .sns_share ul { display: flex; justify-content: center; }
  .foot_contents .sns_share ul li { font-size: 11px; letter-spacing: .1em; position: relative; }
  .foot_contents .sns_share ul li:nth-child(2)::before, .foot_contents .sns_share ul li:nth-child(2)::after { display: inline-block; content: "|"; margin: 0 .5em; }
  .foot_contents footer #brand_top { font-size: 12px; letter-spacing: .1em; margin: 0 0 80px; }
  .foot_contents footer small { font-size: 11px; letter-spacing: .1em; }
  
  @media screen and (min-width: 768px){
    .foot_contents { padding-top: 130px; }
    .foot_contents .page_to_top { font-size: 14px; margin: 0 0 80px; }
    .foot_contents .sns_share { margin: 0 0 50px; }
    .foot_contents .sns_share p { font-size: 10px; margin: 0 0 20px; }
    .foot_contents footer .brand_top { font-size: 10px; margin: 0 0 60px; }
  }
  
  /* ヘッダー追加調整
  --------------------------------------------------*/
  .h__search__modal-bg,
  .h__nav-new-products,
  .h__nav-best-seller,
  .h__search-open-button,
  .h__search-back-button {
    display: none;
  }
  
  ul.h__secondary-menu > li > div > a {
    padding-right: 5px;
  }
  
  .keyword-tag-items {
    width: 70%;
    margin: 20px auto;
  }
  
  .keyword-tag-items__item-box {
    width: 100%;
    font-size: 0;
  }
  
  .keyword-tag-items__item {
    display:inline-block;
    font-size: 14px;
    text-align: center;
    margin: 0 10px 8px 0;
  }
  
  a.keyword-tag-items__link {
    display: block;
    background-color: #F2F2F2;
    padding: 3px 10px;
    box-sizing: border-box;
  }
  
  a.keyword-tag-items__link:hover{
    text-decoration:none;
  }
  
  .block-global-search__text {
    width: 70%;
    text-align: right;
    margin: 10px auto 0;
  }
  
  .block-global-search__text-link {
    display: inline-block;
    position: relative;
    font-size: 13px;
    text-decoration: none;
    padding-left: 1em;
  }
  
  .block-global-search__text-link::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 50%;
    width: 5px;
    height: 5px;
    margin-top: -2px;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    transform: rotate(-45deg);
  }
  
  .block-global-search__text-link:hover {
    text-decoration: none;
  }
  
  .h__nav-products .h__secondary-menu > li {
    margin-left: 1em;
  }
  
  .h__nav-products .h__secondary-menu > li.h__menu-new-products,
  .h__nav-products .h__secondary-menu > li.h__menu-best-seller,
  .h__nav-products .h__secondary-menu > li.h__menu-products {
    margin-left: 0;
  }
  
  @media screen and (max-width: 800px) {
    .h__search {
      position: absolute;
      top: 0 !important;
      left: -100%;
      width: calc(340 / 375* 100vw);
      height: 100vh;
      background: #FFFFFF;
      /* background-color: rgba(0, 0, 0, 0.15); */
      border-top: 1px solid var(--color-secondary);
      padding: 60px calc(20 / 375* 100vw) 35px;
      transition: .4s;
      box-sizing: border-box;
      opacity: 0;
      visibility: hidden;
      overflow-y: auto;
      z-index: 11;
    }
  
    .h__search .inner {
      width: 100%;
      z-index: 2;
    }
  
    .h__search.is-appear {
      left: 0;
      opacity: 1;
      visibility: visible;
      position: fixed;
    }
  
    .h__item-search {
      display: block;
      position: relative;
      left: 30px;
    }
  
    .h__nav.is-appear.is-search-button-active {
      display: block;
      height: 100vh;
    }
  
    .h__secondary {
      padding-left: 1em;
      box-sizing: border-box;
    }
  
    .h__nav-products .is-slide a,
    .h__nav-about .is-slide a,
    .h__nav-membership .is-slide a {
      position: relative;
    }
  
    .h__nav-products .is-slide a::after,
    .h__nav-about .is-slide a::after,
    .h__nav-membership .is-slide a::after,
    ul.h__secondary-menu .h__menu-products-secondary-top > div.h__secondary-memu-box a::after {
      content: "";
      position: absolute;
      right: 2px;
      top: 50%;
      width: 5px;
      height: 5px;
      margin-top: -2px;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      transform: rotate(-45deg);
    }
  
    .h__nav-products .h__secondary-menu > li {
      margin-left: 0;
    }
  
    .h__nav.is-appear ul.h__secondary-menu > li > div.h__secondary-con .h__secondary-btn-back {
      position: fixed;
    }
  
    ul.h__secondary-menu > li > div > a {
      padding-right: 10px;
    }
  
    ul.h__secondary-menu > li > div.h__secondary-con .h__secondary-category-title {
      position: relative;
      padding-right: 10px;
      pointer-events: auto;
    }
  
    ul.h__secondary-menu > li > div.h__secondary-con .h__secondary-category-title::after {
      content: "";
      position: absolute;
      right: 2px;
      top: 50%;
      width: 5px;
      height: 5px;
      margin-top: -7px;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      transform: rotate(-45deg);
    }
  
    .h__search__modal-bg {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.15);
      transition: .4s;
      opacity: 0;
      visibility: hidden;
      z-index: 10;
    }
  
    .h__search__modal-bg.is-search-button-active {
      left: 0;
      opacity: 1;
      visibility: visible;
    }
  
    .h__nav-new-products,
    .h__nav-best-seller,
    .h__nav-products-item {
      display: none;
    }
  
    .h__nav-products .h__secondary-menu > li.h__menu-new-products,
    .h__nav-products .h__secondary-menu > li.h__menu-best-seller,
    .h__nav-products .h__secondary-menu > li.h__menu-products {
      margin-left: -1em;
    }
  
    .h__search-open-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 88%;
      height: 50px;
      background-color: #F2F2F2;
      border: 1px solid var(--color-secondary);
      margin: 0 auto;
      cursor: pointer;
    }
  
    .h__search-open-button__text {
      color: #959393;
      font-size: 16px;
      line-height: 1em;
    }
  
    .h__search-back-button {
      display: block;
      position: absolute;
      left: -100%;
      top: 0;
      width: calc(290 / 375* 100vw);
      font-size: 14px;
      line-height: 1.5;
      background-color: #f5f5f5;
      padding: 15px 15px 14px 30px;
      transition: .4s;
      box-sizing: border-box;
      opacity: 0;
      visibility: hidden;
      z-index: 50;
      cursor: pointer;
    }
  
    .h__search-back-button.is-search-button-active {
      display: none;
    }
  
    .h__search-back-button.is-appear {
      left: 0;
      opacity: 1;
      visibility: visible;
    }
  
    .h__search-back-button::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 20px;
      width: 5px;
      height: 5px;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      margin-top: -3px;
      transform: rotate(135deg);
    }
  
    .keyword-tag-items {
      width: 100%;
    }
  
    .block-global-search__text {
      width: 100%;
    }
  
    .block-global-search__text-link {
      font-size: 14px;
    }
  
    .block-global-search__text-link::before {
      margin-top: -3px;
    }
  }
}